
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div id="main">
    <div class="header">
        <img src="~/Asset/images/mandy.jpg" height="320" width="1060" style="padding-left:10px; margin-top:10px"/>

    </div>
    <div id="about" class="box">
        <h2>Giới Thiệu Chung Về Mandy_Perfume</h2>
        <p>
            Mandy_Perfume được thành lập vào năm 2017. Nhờ sự yêu mến, quan tâm của đông đảo khách hàng gần xa nên chỉ sau hơn 5 năm ra đời, Mandy_Perfume đã trở thành một địa chỉ mua sắm nước hoa, mỹ phẩm cao cấp, chính hãng quen thuộc và đáng tin cậy của khách hàng trên cả nước. Với hệ thống 16 cửa hàng được đặt tại trung tâm các thành phố lớn, mỗi ngày thu hút gần 1600 lượt khách đến tham quan và mua sắm; website trực tuyến có hơn 6000 lượt truy cập mỗi ngày, Mandy_Perfume chính thức trở thành doanh nghiệp phân phối nước hoa và mỹ phẩm chính hãng số 1 tại Việt Nam. Hiện nay, Mandy_Perfume có hàng ngàn sản phẩm nước hoa cao cấp của hầu hết những thương hiệu thời trang trứ danh như Chanel, Christian Dior, Bvlgari, Gucci, Victoria's Secret, Lancôme, Hugo Boss…, đáp ứng nhu cầu sử dụng nước hoa ngày càng cao của mọi đối tượng khách hàng. Mandy_Perfume được khách hàng mệnh danh là “Thiên đường của những mùi hương” bởi những điểm ưu việt mà tại Việt Nam chưa có một địa chỉ bán nước hoa, mỹ phẩm nào sánh được: sản phẩm đa dạng, giá cả cạnh tranh, chất lượng đảm bảo chính hãng, đặc biệt, đội ngũ nhân viên được đào tạo bài bản, chuyên nghiệp, sẵn sàng phục vụ hết mình vì sự hài lòng cao nhất của khách hàng..<a href=""></a>.
        </p>
        <h2>Sản Phẩm Phong Phú Đa Dạng</h2>
        <p>
            Với hơn 1500 loại nước hoa của hầu hết các thương hiệu nổi tiếng trên thế giới đang có mặt tại Thế Giới Nước Hoa, Quý khách dễ dàng chọn được cho mình sản phẩm ưng ý nhất. Trong xu hướng lựa chọn nước hoa ngày nay, những sản phẩm mới nhất, có hương thơm tuyệt nhất, thiết kế độc đáo được mọi người đặc biệt yêu thích. Do đó, Thế Giới Nước Hoa luôn cập nhật những dòng nước hoa mới nhất trên thị trường để đáp ứng nhu cầu của Quý khách hàng.
        </p>
        <h2>CHẤT LƯỢNG SẢN PHẨM & DỊCH VỤ TỐT</h2>
        <p>
            Tất cả các sản phẩm đang được bán tại Thế Giới Nước Hoa là hàng nhập khẩu chính hãng, có hóa đơn, chứng từ, trên mỗi sản phẩm đều có tem chống hàng giả. Thế Giới Nước Hoa làm yên tâm khách hàng bằng chế độ bảo hành mùi hương hợp lý. Ngoài ra, Thế Giới Nước Hoa còn có dịch vụ gói quà và giao hàng miễn phí đến tận tay khách hàng trên toàn quốc một cách nhanh chóng nhất.
        </p>
        <h2>ĐỘI NGŨ NHÂN VIÊN LÀM VIỆC CHUYÊN NGHIỆP</h2>
        <p>
            Đội ngũ nhân viên bán hàng và tư vấn viên của Thế Giới Nước Hoa trẻ trung, năng động, được đào tạo bài bản với phong cách làm việc chuyên nghiệp, nhiệt tình. Nếu Quý khách lần đầu sử dụng nước hoa hoặc chưa tự tin chọn cho mình lọ nước hoa phù hợp hoặc Quý khách muốn thay đổi, làm mới bản thân bằng những mùi hương mới, nhân viên của Thế Giới Nước Hoa sẵn sàng hỗ trợ hết mình để Quý khách chọn được sản phẩm vừa ý nhất.
        </p>
    </div>
</div>
