
@{
    ViewBag.Title = "sanpham1";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div id="main_1">
    <h3 class="product-title">Daisy Dream Marc Jacobs for women </h3>
    <img src="~/Asset/images/daisy3.jpg"  height="450" width="480" />
    <div id="sidebar_1">

        <div class="news">


            <div class="product-body-text col-sm-7">
                <ul class="border-bottom">
                    <li><span> + Nhãn hiệu</span>: <span>Marc Jacobs</span></li>
                    <li><span> + Giới tính</span>: <span>Nữ</span></li>
                    <li><span> + Nồng độ</span>: <span>Eau de Toilette</span></li>
                    <li><span> + Phát hành</span> : <span>2014</span></li>
                    <li><span> + Dung lượng</span> :100ml <span></span></li>
                    <li><span> + Xuất xứ</span> : <span>Mỹ</span></li>
                    <li><span> + Nhóm hương</span> : <span> Hương Hoa cỏ Trái cây - Floral Fruity</span></li>
                    <li><span> + Phong cách</span> : <span>Nữ tính, gợi cảm, quyến rũ.</span></li>
                </ul>
                <p class="color-main"><strong>Hương đặc trưng</strong></p>
                <p>
                    <span>
                        Hương đầu: Quả mâm xôi đen, Quả bưởi, Quả lê.
                        <br>Hương giữa: Hoa tử đằng, Hoa nhài, Quả vải.
                        <br>Hương cuối: Hương gỗ, Xạ hương, Quả dừa..
                    </span>
                </p>

                <span class="price">Price : 2.050.000 VND</span><br></a>
            </div>
        </div>

        <a href="@Url.Action("GioHang","GioHang")" class="btnCart">Order Now</a>
    </div>
    <ul id="products">
        <li>
            <div class="box details1">
                <p>
                    Thương hiệu Marc Jacobs đã tung ra nước hoa Daisy Dream vào mùa hè năm 2014 với tư cách là một phiên bản mới kế nhiệm từ nguyên mẫu nước hoa Daisy (2007) truyền thống. Daisy Dream là một phiên bản mơ mộng và tinh tế hơn so với phiên bản gốc. Tổ hợp của Dream được cấu tạo từ các nốt hương hoa cỏ và trái cây để mang lại một hiệu ứng "xanh". Cũng như phiên bản gốc,
                    Alberto Morillas chính là người đã sáng tạo ra mùi hương này, với sự hợp tác của Ann Gottlieb và chính bản thân Marc Jacobs.	Đối với Earl Grey and Cucumber, hương thơm của mẫu nước hoa này là một sự pha chế đầy tinh nghịch của hương thơm của loại trà phồ biến nhất
                    nước Anh, đó là trà Earl Grey, được làm từ trà đen cùng với tinh chất của cam bergamot và các loại cam chanh khác.  Hương thơm mở ra với hương thơm của các loại trái cây bao gồm táo và cam bergamot, pha trộn với hương hoa nhài và hương nước tươi mát. Tiếp đến chính là nốt hương nổi bật thứ hai của nước hoa, hương dưa leo ngay tại lớp hương giữa cùng với cây bạch chỉ. Cuối cùng là hỗn hợp của vani, sáp ong,
                    gỗ tuyết tùng và xạ hương giúp khép lại mùi hương trong một phong vị độc đáo và phong phú..
                </p>
            </div>
        </li>
        <li>
            <div class="box details2">
                <span class="price">Daisy Dream Marc Jacob </span>
                <p>
                    Daisy Dream bắt đầu với hương quả mọng và lê ướt át và hương nước dừa xuất hiện cũng khá sớm,
                    hương thơm không quá nồng, vì mùi nước dừa khá khác biệt so với cơm dừa. Khi nước hoa bắt đầu lắng đọng,
                    hương thơm của hoa tử đằng cùng với hương hoa nhài thoang thoảng bắt đầu tỏa hương, ngoài ra còn có sự giúp
                    sức của hương vải, khiến cho mùi hương không những mềm mại, nữ tính mà còn mang cảm giác nhiệt đới.
                    <br>Lớp hương cuối khá cân bằng nhờ vào các hương gỗ trắng khiến cho nước hoa không trở nên quá ngọt
                    và một ít xạ hương âm ỉ ở phía nền làm cho nước hoa toát lên một sự gợi cảm.
                    Ban đầu bạn có thể nghĩ đây là một chai nước hoa ngọt, nhưng lớp hương cuối nồng nàn khiến cho hương thơm cân
                    bằng và thú vị hơn.
                </p>

            </div>
            <div class="box view3">
                <img src="~/Asset/images/daisy2.png" height="350" width="550" />
            </div>
        </li>
        <li>
            <div class="box details3">
                <p>
                    Chai nước hoa mang một thiết kế cách tân so với phiên bản Daisy gốc, với thân hình đã được bo tròn và các bông hoa cúc trắng toát dùng để trang trí. Một mùi hương ngọt ngào nhẹ nhàng với các nốt hương hoa cỏ và trái cây.
                    Mang lại một cảm giác nữ tính thanh tao cho các quý cô ở mọi độ tuổi.
                </p>

            </div>
            <div class="box view3">
                <img src="~/Asset/images/daisy4.jpg" height="350" width="450" />
            </div>

        </li>
    </ul>
</div>

	

